@{
	ViewData["Title"] = "Hello Mockups";
}

<div class="text-left">
    <h1 class="display-4">Mockups</h1>
    <ul>
        <li><a asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
        <li><a asp-controller="Mockups" asp-action="QuizResult">QuizResult</a></li>
    </ul>
</div>